<%inherit file="base.html"/>
<%def name="head()">
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
</%def>


<%def name="body()">

<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-cog"></i>
            <h3 class="box-title">配置管理</h3>
        </div>
        <div class="box-body">
        % if msg:
        <div class="alert alert-warning">${msg}</div>
        % endif
<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="${active=='default' and 'active' or '' }">
            <a href="#default" aria-controls="default" role="tab" data-toggle="tab">系统设置</a>
        </li>
        <li role="presentation" class="${active=='database' and 'active' or '' }">
            <a href="#database" aria-controls="database" role="tab" data-toggle="tab">数据库设置</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane ${active=='default' and 'active' or '' }" id="default">
            <form class="form-horizontal form-well" role="form" action="${default_form.action}" method="post">
                ${xsrf_form_html()}
                ${default_form.render_css()}
            </form>
        </div>
        <div role="tabpanel" class="tab-pane ${active=='database' and 'active' or '' }" id="database">
            <form class="form-horizontal form-well" role="form" action="${database_form.action}" method="post">
                ${xsrf_form_html()}
                ${database_form.render_css()}
            </form>
        </div>
    </div>
</div>
</div>
</div>
</section>
</%def>

